@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "Share Tech";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sharetech/v21/7cHtv4Uyi5K0OeZ7bohU8H0JmA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  size-adjust: 115%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: #241c27;
  font-family: "Open Sans", system-ui;
  font-size: 14px;
  @apply text-zinc-900;
  /* @apply bg-slate-900; */
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  h1 {
    @apply text-3xl my-5 font-bold font-heading;
  }

  h2 {
    @apply text-2xl my-4 font-bold font-heading;
  }

  h3 {
    @apply text-xl my-3 font-semibold font-heading;
  }

  h4 {
    @apply text-lg my-2 font-medium font-heading;
  }
}

.active,
.markdown a {
  /* from browser router react */
  @apply text-sky-700 hover:text-sky-500;
}

.markdown>* {
  all: revert;
}

/* width */
::-webkit-scrollbar {
  @apply w-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-zinc-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500 transition-all duration-300;
}

img {
  @apply pointer-events-none;
}

.tag {
  @apply inline-block py-1 px-3 m-1 font-consolas bg-zinc-100 rounded-full text-sm;
}

.btn-dark {
  @apply text-white hover:bg-indigo-800 transition-all duration-200 bg-indigo-950;
}

.btn-berry {
  @apply text-white hover:bg-berry-20 transition-all duration-200 bg-berry-60;
}